#navbar{
    position: fixed;
    width: 100%;
    z-index: 4;
  }

  .toggle-btn{
    width: 100%;
    padding: 10px;
    display: block;
    background-color: hsl(257, 64%, 25%);
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: none;
  }

  .toggle-btn.active::after{
    content: "Hide Menu"
  }

  .toggle-btn:not(.active)::after{
    content: "Show Menu"
  }
  .toggle-btn:hover{
    background-color: hsl(257, 64%, 85%);
    color: black;
  }

  
  .navbarlist{
      margin: 0;
      padding: 0;
  }

  .navlistitem > a{
      display: block;
      text-align: center;
      padding: 20px;
  }
  
  .navlistitem{
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
  }
  
  .navlistitem > a, .social > a{
    color: var(--darklink);
    text-decoration: none;
  }

  .navlistitem > a:hover{
    background-color: hsla(20, 90%, 50%, 0.3);
  }

  @media screen and (min-width: 600px){
    #navbar{
      display: flex;
      justify-content: end;
    
    }
    .navbarlist{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 15px auto;
        width: 95%;
        border-radius: 20px;
        justify-content: end;
        border-style: inset;
        border-color: var(--darkgreen);
        background-image: linear-gradient(to top, var(--lightergreen), hsl(150, 90%, 30%));
        position: relative;
      }
      
      .navbarlist::before{
        content: '';
        position: absolute;
        top: 2px;
        left: 5px;
        right: 5px;
        height: 50%;
        display: inline-block;;
        background-color: hsla(137, 100%, 83%, 0.686);
        border-radius: 15px;
        z-index: 1;
      }

    .navlistitem.itemborder, .navlistitem {
      z-index: 2;
    }
    .navlistitem > a[href="#myinfo-sect"]:hover{
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .toggle-btn{
      display: none;
    }
  }

    
  @media screen and (max-width: 600px){
    #navbar{
    display: grid;
  }

  .navlistitem{
    background-color: var(--lightergreen);
    border: 1px inset var(--darkgreen);
  }

  .navbarlist{
    display: none;
    width: 100%;
  }

  .navbarlist.active{
    display: block;
  }

   a[href="#portfolio"]{
      border-top: 1px solid var(--darklink);
      border-bottom: 1px solid var(--darklink);
    }
  }