#portfolio-sect{
  padding: 20px;
}

#portfolio-sect > .section-header{
    color: var(--darkergreen);
  }

#projects{
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding: 40px;
}
  
#projects::-webkit-scrollbar {
  height: 15px;
}

#projects::-webkit-scrollbar-track{
  margin: 50px;
  background-color: azure;
}

#projects::-webkit-scrollbar-thumb {
  background-color: var(--lightergreen);
  border-radius: 20px;
}

.projects{
    display: block;
    margin: 15px;
    text-align: center;
    min-width: 300px;
    min-height: 275px;
    position: relative;
  }

.project-tile{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  z-index: 2;
  display: block;
  text-align: center;
  position: absolute;
  top: 100%;
}

.readme{
  z-index: 2;
  background-color: rgba(144, 238, 144, 0.81);
  padding: 20px;
  color: black;
  font-weight: bold;
}


.project-img{
  z-index: 1;
  display: block;
}

.project-link{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.project-img, .readme{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

.project-img, .readme{
  width: 100%;
  height: 100%;
}