#portfolio-sect{
  padding: 20px;
}

#portfolio-sect > .section-header{
    color: var(--darkergreen);
  }

#projects{
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding: 40px;
}
  
#projects::-webkit-scrollbar {
  height: 15px;
}

#projects::-webkit-scrollbar-track{
  margin: 50px;
  background-color: azure;
}

#projects::-webkit-scrollbar-thumb {
  background-color: var(--lightergreen);
  border-radius: 20px;
}

.projects{
    display: grid;
    grid-template-rows: auto auto;
    margin: 15px;
    height: 50px;
    width: 50px;
  }

.project-link{
  position: relative;
  display: inline-block;
}

.readme, .project-img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}

.project-img{
  z-index: 1;
}

.project-tile{
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  z-index: 2;
  display: block;
  text-align: center;
}

.readme{
  z-index: 2;
  background-color: rgba(144, 238, 144, 0.81);
  padding: 20px;
  color: black;
  font-weight: bold;
}




